:root{
    --color_1:#ff0000;
    --color_2:#fd0008;
    --color_3:#ffde06;
    --color_4:#3e3f3f;
    --color_5:#eeeeee;
    --color_6:#d8d8d8;
    --color_7:#909191;
    --color_8:#fff;
    --color_9:#e2e4e8;
    
    --padx: 15%;
    --pady: 0;
}